<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <fieldset>
        <legend>Login</legend>
        <table>
            <tr>
                <td>
                    <label>
                        <b>Username</b>
                    </label>
                </td>
                <td>
                    <input type="text"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <b>Password</b>
                    </label>
                </td>
                <td>
                    <input type="password"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type="checkbox" checked="checked"/>Remember me
                    </label>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <button><a href="/">Cancel</a></button>
                </td>
                <td>
                    <button type="submit" >Login</button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="forgot-password.html">Forgot your password?</a>
                </td>
                <td>
                    <a href="create.html">Create account</a>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>