<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/checkLogin}" th:object="${login}">
    <fieldset>
        <legend>Login</legend>
        <table>
            <tr>
                <td>
                    <label>
                        <b>Username</b>
                    </label>
                </td>
                <td>
                    <input type="text" th:field="*{account}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <b>Password</b>
                    </label>
                </td>
                <td>
                    <input type="password" th:field="*{password}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type="checkbox" checked="checked"/>Remember me
                    </label>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <button><a href="/">Cancel</a></button>
                </td>
                <td>
                    <button type="submit" >Login</button>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <a href="forgot-password.html">Forgot your password?</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>Don't Have An Account ?<a href="register.html">Create account</a></p>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>